body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif; 
    --text-color: #4F4F4F;
    --blue: #459EBC;
    --yellow: #F6D443;
    color: var(--text-color);
    background: var(--blue);
}

.resume {
    /* border: 1px lightgray solid; */
    background: white;
    display: grid;
    grid-gap: 10px;
    padding: 40px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.3fr 0.5fr 1fr 1fr 1fr;
    grid-template-areas: 
    "name name contact"
    "photo about about"
    "work work skills"
    "work work education"
    "work work misc"
    ;
}

section {
    display: grid;
    /* border: 1px black solid; */
    padding: 20px;
    align-items: center;
}

.name {
    display: grid;
    grid-area: name;
    font-family: 'Patua One', cursive, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
    font-size: 70px;
    /* font-weight: bold; */
    letter-spacing: 5px;
    /* text-transform: uppercase; */
    color: var(--blue);
}

.contact {
    grid-area: contact;
    font-size: 18px;
}

.contactlinks {
    text-decoration: none;
    color: var(--text-color);
}

.contactlinks:hover {
    color: var(--blue);
}

.photo {
    display: grid;
    grid-area: photo;
    justify-items: center;
}

.photo img {
    border-radius: 50%;
    width: 70%;
    border: 3px solid var(--yellow);
}

.about {
    grid-area: about;
    font-size: 16px;
    line-height: 1.5em;
    
}

.work {
    grid-area: work;
}

.work-title {
    font-weight: bold;
    font-size: 20px;
}

.work-subtitle {
    font-weight: bold;
}

.skills {
    grid-area: skills;
}

.education {
    grid-area: education;
}

.edu-title, .skill-title {
    margin: 10px 0;
    font-weight: bold;
}

.edu-detail, .skill-detail {
    margin: 10px 0;
}

.sub-header {
    font-family: 'Patua One', cursive, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
    font-size: 30px;
    /* font-weight: bold; */
    color: var(--blue);
    /* text-transform: uppercase; */
    letter-spacing: 2px;
}

.sub-header-whole {
    display: grid;
    grid-template-columns: 0.01fr 1fr;
    align-items: center;
}

.sub-header-deco {
    width: 5px;
    height: 30px;
    margin-right: 10px;
    background: var(--yellow);
}

hr {
    height: 1px;
    width: 100%;
}

ul {
    list-style: none;
    padding: 0px;
}

li {
    margin: 10px 0;
}

@media screen and (max-width: 1030px) {
    .resume {
        /* border: 1px lightgray solid; */
        background: white;
        display: grid;
        grid-gap: 10px;
        padding: 40px;
        grid-template-columns: 1fr;
        grid-template-rows: .1fr .1fr .1fr .2fr 2fr .5fr .5fr;
        grid-template-areas: 
        "name"
        "contact"
        "photo"
        "about"
        "work"
        "skills"
        "education"
        ;
    }

    .photo img {
        border-radius: 50%;
        width: 30%;
        border: 3px solid var(--yellow);
    }

    .name {
        padding: 0;
        text-align: center;
    }

    .name p {
        margin: 20px;
    }

    .contact {
        padding: 0;
        text-align: center;
    }

    .contact ul {
        margin: 0;
    }

@media screen and (max-width: 720px) {

    .name {
        font-size: 50px;
    }

    .contact {
        font-size: 20px;
    }
}

/* .sub-header::before {
    content: "";
    display: inline-block;
    width: 5px;
    height: 30px;
    margin-right: 10px;
    background: #54B689;
} */

/* @media (max-width: 700px) {
    .resume {
    }
} */

/* .A4 {
    width: 21cm;
    height: 29.7cm; 
} */
}